[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
gtts = "*"
tabulate = "*"
requests = "*"
mutagen = "*"
python-dotenv = "*"
bs4 = "*"
google-cloud = "*"
google-api-python-client = "*"
google-cloud-texttospeech = "*"
unidecode = "*"
deepdiff = "*"
pynacl = "*"
grpcio = {version = "==1.44.0", sys_platform = "=='linux'"}
grpcio-tools = {version = "==1.44.0", sys_platform = "=='linux'"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
