[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gtts = "*"
tabulate = "*"
requests = "*"
mutagen = "*"
python-dotenv = "*"
bs4 = "*"
google-cloud = "*"
google-api-core = {version = "==2.9.0"}
google-api-python-client = "*"
google-cloud-texttospeech = "*"
unidecode = "*"
deepdiff = "*"
pynacl = "*"
grpcio = "*"
grpcio-tools = "*"
black = "*"
"discord.py" = {extras = ["voice"], version = "*"}
aiohttp = "*"
aiohttp-retry = "*"
async-property = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
